        body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins';
        }
        
        a {
            text-decoration: none;
            font-size: 18px;
        }
        
        .contenedor {
            /*tamaño del contenedor que contiene los items del nav*/
            width: 90%;
            max-width: 1280px;
            margin: auto;
        }
        /*----------Nav-------------*/
        
        .menu {
            background: #fff;
            padding: 9px 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
        
        .menu .contenedor {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        header .logo {
            font-size: 23px;
            font-weight: bold;
        }
        
        nav ul li {
            display: inline-block;
            margin: 0 20px;
        }
        
        nav ul li {
            color: #000;
        }
        /*----------End Nav-------------*/
        /*----------Intro-------------*/
        
        #slider {
            overflow: hidden;
        }
        
        #slider figure {
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            animation: 20s slider infinite;
        }
        /*----------End Intro-------------*/