                    body {
                        margin: 0;
                        padding: 0;
                        font-family: 'Poppins';
                    }
                    
                    a {
                        text-decoration: none;
                        font-size: 18px;
                    }
                    
                    .contenedor {
                        /*tamaño del contenedor que contiene los items del nav*/
                        width: 90%;
                        max-width: 1280px;
                        margin: auto;
                    }
                    /*----------Nav-------------*/
                    
                    .menu {
                        background: #fff;
                        padding: 9px 20px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        width: 100%;
                        position: fixed;
                        z-index: 100;
                    }
                    
                    .menu .contenedor {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    header .logo {
                        font-size: 23px;
                        font-weight: bold;
                    }
                    
                    nav ul li {
                        display: inline-block;
                        margin: 0 20px;
                        color: #000;
                    }
                    
                    nav ul li .underline {
                        color: #000;
                        background: linear-gradient(#c39d63 0 0) bottom /var(--d, 0) 3px no-repeat;
                        transition: 0.5s;
                    }
                    
                    nav ul li .underline:hover {
                        --d: 100%;
                    }
                    /*----------End Nav-------------*/
                    /*----------Intro-------------*/
                    
                    #intro {
                        background: url(ImagenesPrueba/hache-muebles-y-decoracion-005.jpg);
                        text-align: center;
                        height: 540px;
                        padding-top: 200px;
                        background-size: cover;
                        background-position: 57% 48%;
                    }
                    
                    #intro h1 {
                        font-size: 'Playfair Display';
                        font-size: 72px;
                        color: #fff;
                        font-weight: normal;
                        margin-top: 10px;
                    }
                    
                    #intro p {
                        color: #fff;
                        font-size: 18px;
                        line-height: 36px;
                        width: 60%;
                        margin: auto;
                    }
                    
                    #intro .ver-mas {
                        color: #fff !important;
                        font-size: 20px;
                        font-weight: 500;
                        padding: 0.5em 1.2em;
                        background: rgba(0, 0, 0, 0.308);
                        border: 2px solid;
                        border-color: #c39d63;
                        transition: all 1s ease;
                        position: relative;
                    }
                    
                    #intro .ver-mas:hover {
                        background: #c39d63;
                        color: #fff !important;
                    }
                    
                    #intro .botones {
                        text-align: center;
                        padding-top: 80px;
                        margin-top: 90px;
                    }
                    
                    #intro .botones a {
                        margin-right: 20px;
                        padding: 9px 23px;
                    }
                    /*----------End Intro-------------*/
                    /*----------Prodcutos-------------*/
                    
                    #nuestroProductos {
                        color: black;
                        text-align: center;
                        padding: 40px 0;
                    }
                    
                    #nuestroProductos h1 {
                        font-weight: bold;
                        font-size: 40px;
                        margin-bottom: 10px;
                        /*text-decoration: underline solid #bb8e16;*/
                    }
                    
                    #nuestroProductos hr,
                    #promociones hr {
                        height: 2px;
                        width: 350px;
                        background: #c39d63;
                    }
                    
                    #nuestroProductos .contenedor-btn {
                        /* position: absolute;*/
                        display: flex;
                        justify-content: space-between;
                        margin: 55px 0;
                    }
                    
                    #nuestroProductos .objetos {
                        position: relative;
                        margin: 20px;
                        transition: transform .2s;
                    }
                    
                    #nuestroProductos img {
                        width: 200px;
                        height: 200px;
                        border-radius: 150px;
                        -webkit-box-shadow: 3px -2px 15px -5px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 3px -2px 15px -5px rgba(0, 0, 0, 0.75);
                        box-shadow: 3px -2px 15px -5px rgba(0, 0, 0, 0.75);
                    }
                    
                    #nuestroProductos .objetos:hover {
                        transform: scale(1.1);
                        color: #c39d63;
                    }
                    
                    #nuestroProductos .objetos p {
                        padding: 25px 20px;
                        text-align: center;
                        font-size: 20px;
                        margin: auto;
                    }
                    
                    #nuestroProductos .objetos p:hover {
                        color: #c39d63;
                    }
                    /*   #nuestroProductos .objetos .texto {
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 46px;
        }*/
                    /*----------End Prodcutos-------------*/
                    
                    #producto {
                        padding-top: 20px;
                    }
                    
                    span {
                        color: #c39d63;
                        font-weight: bold;
                    }
                    
                    #productos h1 {
                        font-size: 30px;
                    }
                    
                    .swiper-container {
                        width: 103% !important;
                        height: 600px;
                    }
                    
                    .swiper-container h4 {
                        font-size: 20px;
                    }
                    
                    .contenedor-tarjetas {
                        padding-top: 80px;
                    }
                    
                    .swiper-slide {
                        height: 90% !important;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        transition: 0.3s;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }
                    
                    .swiper-slide img {
                        width: 200px;
                        height: 200px;
                        padding: 0px 50px;
                    }
                    
                    .swiper-slide:hover {
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    }
                    
                    .swiper-slide .botonesCard {
                        display: inline-block;
                        padding-top: 50px;
                        padding-bottom: 50px;
                        text-align: center;
                        justify-content: center;
                    }
                    
                    .swiper-slide .botonesCard .btn {
                        color: #fff !important;
                        font-size: 20px;
                        font-weight: 500;
                        padding: 0.5em 1.2em;
                        background-color: #c39d63;
                    }
                    
                    #productos hr {
                        height: 2px;
                        width: 156px;
                        background: #c39d63;
                        margin: 0;
                        margin-top: -28px;
                    }
                    /*   .swiper-button-next:after,
        .swiper-container-rtl .swiper-button-prev:after {
            color: #c39d63;
        }*/
                    /*-------Atencion Personalizada--------*/
                    
                    #atencion {
                        background: #c39d63;
                        background-size: cover;
                        height: 588px;
                    }
                    
                    #atencion .container {
                        margin-top: 46px;
                        display: flex;
                    }
                    
                    #atencion .izquierda {
                        padding: 100px;
                        width: 43%;
                    }
                    
                    #atencion form {
                        display: block;
                        margin-top: 0em;
                    }
                    
                    #atencion .izquierda h1 {
                        font-size: 40px;
                        color: #fff;
                        margin: 0px 35px;
                        margin-bottom: 30px;
                    }
                    
                    #atencion form input[type="text"],
                    #atencion form input[type="email"],
                    #atencion form textarea,
                    #contactanos form input[type="text"],
                    #contactanos form input[type="email"],
                    #contactanos form textarea {
                        width: 82%;
                        padding: 11px;
                        margin: 7px 37px;
                        font-size: 15px;
                        border: 0;
                        border-width: 0px;
                        border-color: #CCCCCC;
                        background-color: #FFFFFF;
                        color: #000000;
                        border-style: hidden;
                        border-radius: 4px;
                        box-shadow: 0px 0px 3px rgba(66, 66, 66, .31);
                        text-shadow: -1px 0px 0px rgba(66, 66, 66, .0);
                    }
                    
                     ::placeholder {
                        color: rgba(0, 0, 0, 0.308);
                    }
                    
                    input[type="submit"] {
                        color: #fff !important;
                        font-size: 20px;
                        font-weight: 500;
                        margin: 17px 83px;
                        padding: 0.5em 1.2em;
                        background: rgba(0, 0, 0, 0.308);
                        border: 2px solid;
                        border-color: #c39d63;
                        position: relative;
                        float: right;
                    }
                    
                    #atencion .derecha {
                        align-self: flex-end;
                        margin: 171px -39px;
                        width: 45%;
                    }
                    
                    #atencion .derecha h1 {
                        font-size: 40px;
                        color: #fff;
                        margin: -70px 0px;
                        margin-bottom: 30px;
                    }
                    
                    #atencion .derecha .iconosContact {
                        display: flex;
                    }
                    
                    #atencion .derecha p {
                        font-size: 20px;
                    }
                    
                    #atencion .derecha i {
                        font-size: 50px;
                        margin: 20px 16px;
                    }
                    /*-------End Atencion Personalizada--------*/
                    /*-------Promocioness--------*/
                    
                    #promociones {
                        color: black;
                        text-align: center;
                        padding: 40px 0;
                    }
                    
                    #promociones h1 {
                        font-weight: bold;
                        font-size: 40px;
                        margin-bottom: 10px;
                    }
                    
                    #promociones .promocionArriba {
                        display: flex;
                        background: url(ImagenesPrueba/hache-muebles-y-decoracion-005.jpg);
                        padding-top: 20px;
                        width: 72%;
                        height: 400px;
                        margin: auto;
                        text-align: center;
                    }
                    
                    #promociones .precio {
                        margin-top: 26px;
                        text-align: center;
                        background-color: #c39d63;
                        height: 15%;
                        width: 39%;
                    }
                    
                    #promociones .precio p {
                        text-align: center;
                        margin: 7px 0px;
                        font-size: 30px;
                        font-weight: 500;
                        color: #fff;
                    }
                    
                    #promociones .valores {
                        display: block;
                        margin-top: 26px;
                        text-align: center;
                        height: 15%;
                        width: 39%;
                    }
                    
                    #promociones .valores .antes01,
                    #promociones .valores .ahora01 {
                        text-align: left;
                        background-color: #000;
                        width: 300px;
                        height: 80px;
                        float: right;
                    }
                    
                    #promociones .valores .antes01 {
                        margin: 154px -302px;
                    }
                    
                    #promociones .valores .ahora01 {
                        margin: 248px -302px;
                        background-color: #c39d63 !important;
                    }
                    
                    #promociones .valores #texto-val {
                        font-size: 19px;
                    }
                    
                    #promociones .valores p {
                        margin: 7px 0px;
                        padding: 0px 36px;
                        font-size: 30px;
                        font-weight: 500;
                        color: #fff;
                        line-height: 27px;
                    }
                    
                    #promociones .promocionesAbajo {
                        display: flex;
                        justify-content: center;
                        width: 88%;
                        margin: auto;
                        padding: 23px 0px;
                    }
                    
                    #promociones .promo01 {
                        background: url(ImagenesPrueba/cocina01.jpg);
                        background-size: cover;
                        width: 40%;
                        height: 375px;
                        text-align: center;
                        margin: 0px 17px;
                    }
                    
                    #promociones .promo02 {
                        display: block;
                        background: url(ImagenesPrueba/cocina02.jpg);
                        background-size: cover;
                        width: 40%;
                        height: 375px;
                        text-align: center;
                        margin: 0px 17px;
                    }
                    
                    #promociones .promocionesAbajo p {
                        margin: 7px 0px;
                        padding: 0px 36px;
                        font-size: 25px;
                        font-weight: 500;
                        color: #fff;
                        line-height: 27px;
                    }
                    
                    #promociones .promocionesAbajo .antes02,
                    #promociones .promocionesAbajo .ahora02 {
                        text-align: left;
                        background-color: #000;
                        width: 300px;
                        height: 80px;
                        float: left;
                    }
                    
                    #promociones .promocionesAbajo .antes03,
                    #promociones .promocionesAbajo .ahora03 {
                        text-align: left;
                        background-color: #000;
                        width: 300px;
                        height: 80px;
                        float: right;
                    }
                    
                    #promociones .promocionesAbajo .antes02 {
                        margin: 40px 0px;
                    }
                    
                    #promociones .promocionesAbajo .ahora02 {
                        margin: 137px -300px;
                        background-color: #c39d63 !important;
                    }
                    
                    #promociones .promocionesAbajo #texto-promo01,
                    #promociones .promocionesAbajo #texto-promo02 {
                        font-size: 19px;
                    }
                    
                    #promociones .promocionesAbajo .antes03 {
                        margin: 164px 0px;
                    }
                    
                    #promociones .promocionesAbajo .ahora03 {
                        margin: 259px -300px;
                        background-color: #c39d63 !important;
                    }
                    /*-------End Promocioness--------*/
                    /*-------contactanos--------*/
                    
                    #contactanos .barra {
                        background-color: #000;
                        display: flex;
                        margin: auto;
                        justify-content: center;
                    }
                    
                    #contactanos .barra ul li {
                        display: inline-block;
                        margin: auto 50px;
                        align-items: center;
                    }
                    
                    #contactanos .barra ul li a {
                        color: #fff;
                        font-size: 22px;
                    }
                    
                    #contactanos .barra ul li i {
                        color: #fff;
                        font-size: 30px;
                        margin: 0px 20px;
                    }
                    
                    #contactanos hr {
                        border: none;
                        border-left: 3px solid hsla(200, 10%, 50%, 100);
                        height: 5vh;
                        width: 1px;
                    }
                    
                    #contactanos .contactar {
                        display: flex;
                    }
                    
                    #contactanos .telefonos {
                        display: flex;
                        width: 30%;
                        margin: auto;
                        padding: 80px 120px;
                    }
                    
                    #contactanos .telefonos .datos {
                        width: 100%;
                        padding: 0px 100px;
                    }
                    
                    #contactanos .telefonos h1 {
                        margin: -15px 0px;
                        margin-bottom: 50px;
                        font-size: 45px;
                    }
                    
                    #contactanos .telefonos p {
                        font-size: 22px;
                    }
                    
                    #contactanos .mensaje {
                        width: 50%;
                        margin: 80px 86px;
                    }
                    /*-------End contactanos--------*/
                    
                    .menu-icon {
                        display: none;
                    }
                    
                    @media screen and (min-width: 310px) {
                        .swiper-container {
                            width: 310px;
                        }
                    }
                    
                    @media screen and (min-width: 768px) {
                        .swiper-container {
                            width: 768px;
                        }
                    }
                    /*--------------responsive---------------*/
                    
                    @media screen and (max-width: 800px) {
                        nav {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 30.9% !important;
                            background: #000;
                            display: none;
                        }
                        .menu-icon {
                            display: block;
                            float: right;
                        }
                        nav ul li {
                            display: block;
                            margin-bottom: 20px;
                        }
                        nav ul li a {
                            color: #fff !important;
                        }
                    }
                    /*--------------end responsive-----------*/
